// Colors
$mainColor: #000
$blackLight: #2f2f2f
$white: #fff
$grey: #909090
$khaki: #9e9a69
$putty: #bbb786

// Fonts
$sofia: 'sofia'
$sofiaBlack: 'sofia-black'

$austin: 'austin'

$didot: 'didot'

// Responsive Breakpoints
$mobileWidth: 768px
$tabletWidth: 992px

// Skew params
$mainSkew: 20deg
$containerSkew: -$mainSkew
$childSkew: $mainSkew

// Transitions
$mainTransition: all .5s ease-in-out