a
  display: inline-block

  &.router-link-active
    cursor: default

  &.about-link
    padding: 0 0 10px 10px

.about-link-top,
.about-link-bottom
  display: block
  height: 4px
  background: $grey

.about-link-top
  width: 60px

.about-link-bottom
  width: 40px
  margin-top: 8px