a
  display: inline-block
  text-decoration: none
  color: $grey

  &.router-link-active
    cursor: default

  &.about-link
    padding: 0 0 10px 10px

    &:hover
      .about-link-top
        transform: scaleX(0.5)

      .about-link-bottom
        transform: scaleX(1.5)

    .about-link-top,
    .about-link-bottom
      display: block
      height: 4px
      background: $grey
      transition: $mainTransition
      transform-origin: left

    .about-link-top
      width: 60px

    .about-link-bottom
      width: 40px
      margin-top: 8px

    +mobile
      .about-link-top,
      .about-link-bottom
        height: 2px

      .about-link-top
        width: 30px

      .about-link-bottom
        width: 20px
        margin-top: 4px

  &.about-close
    transition: $mainTransition

    &:hover
      opacity: .7

    p
      font-size: 22px
      +fontFamily($sofiaBlack)

    +mobile
      p
        font-size: 11px

.scroll-button
  display: flex
  align-items: center
  position: absolute
  top: 15%
  right: 80px
  z-index: 10
  cursor: pointer

  &:hover
  &:focus
    img
      transform: translate3d(15px, 0, 0)

  span
    font-size: 14px
    color: $grey
    +fontFamily($austin)
    user-select: none

  img
    width: 20px
    margin-left: 15px
    transition: $mainTransition

  +mobile
    right: 20px

    &:hover
    &:focus
      img
        transform: translate3d(0, 0, 0)

.about-description
  a
    transition: $mainTransition

    &:hover,
    &:focus
      opacity: .7

    &.hetic
      color: $khaki
      +fontFamily($sofiaBlack)

    &.resume
      color: $khaki
      text-decoration: underline

.about-socials
  a
    font-size: 14px
    +defaultLink

    +tablet
      font-size: 18px
      padding: 15px

    +mobile
      font-size: 12px
      padding: 5px

.carousel-work-link,
.work-link
  position: absolute
  bottom: 130px
  right: -70px
  opacity: 0
  transform: translate3d(-100%, 0, 0)
  transition: $mainTransition
  z-index: 10

  a
    font-size: 16px
    +defaultLink

  +mobile
    width: 100%
    right: 50%
    bottom: -90px
    transform: translate3d(50%, 0, 0)

  +mobileLandscape
    width: auto
    right: -50%
    bottom: 50%
    transform: translate3d(0, 50%, 0)

    a
      font-size: 14px

.prev-work
  text-align: right

.next-work
  text-align: left !important

.next-work-ink,
.prev-work-ink
  margin: 0 50px
  position: relative
  font-size: 180px
  +fontFamily($didot)
  color: $khaki

  &:hover
    .next-work-title,
    .prev-work-title
      background: transparent

      p
        color: $white

  .next-work-title,
  .prev-work-title
    position: absolute
    top: 50%
    left: 50%
    display: inline-block
    background: $white
    border: 1px solid $white
    transform: skew($containerSkew) translate3d(-50%, -50%, 0)
    transition: $mainTransition

    p
      font-size: 14px
      color: $mainColor
      +fontFamily($sofiaBlack)
      padding: 10px 80px
      transform: skew($childSkew)
      transition: $mainTransition

  +mobile
    font-size: 60px
    margin: 0 15px

    &:hover
      .next-work-title,
      .prev-work-title
        background: $white

        p
          color: $mainColor

    .next-work-title,
    .prev-work-title
      p
        font-size: 12px
        padding: 5px 10px
