.carousel-numbering
  font-size: 12px
  color: $khaki
  +fontFamily($sofia)
  position: absolute
  top: -10px
  left: -80px
  transform: rotate(-90deg)

  > span
    display: inline-block

  +mobile
    left: -60px

.carousel-work-date
  position: absolute
  top: -100px
  left: 50%
  transform: translate3d(-50%, 0, 0)
  z-index: -1

  p
    font-size: 144px
    color: $grey
    opacity: 0
    +fontFamily($didot)
    transform: translate3d(0, 100%, 0)
    transition: $mainTransition

  +mobile
    top: -50px

    p
      font-size: 72px